<ul class="collapsible">
        {{#each players}}
        <li>
                <div class="collapsible-header"><i class="material-icons">place</i><span
                                id="{{this.id}}-player">{{this.name}}</span> | <span id="{{this.id}}-life"></span> |
                        <span id="{{this.id}}-poison}}"></span></div>

                <div class="collapsible-body"><span>ENTER INTO THE TOKEN TRAY!</span>
                        <div class="life-collection">
                                <span id="{{this.id}}-life-change" class="right"><input type="submit" class="link-color" href="#"
                                                value="Change Life"></span>
                                <form action="#">
                                        <p class="range-field">
                                                <input type="range" id="{{this.id}}-life-range" min="-20" max="20" />
                                        </p>
                                </form>
                                <a id="{{this.id}}-t-spawn" class="btn modal-trigger" href="#tokens-modal">Tokens +</a>
                        </div>

                        <p>Set the slider to life gained or lost, and press 'Life Change' to gain or lose that much
                        life.</p>
                        <div class="divider purple"></div>
                                                <h5 class="center-align">Token Tray</h5>

                        <div id="{{this.id}}-tokens-active" class="container">
<div class="carousel">
        {{#each this.tokens}}
        <div class="carousel-item {{this.name}}"><span id="{{this.name}}-{{@index}}">{{this.name}}</span><img
                        src="{{this.img}}"></div>
        {{/each}}
</div>
                        </div>

                </div>
        </li>
        {{/each}}
        {{!-- Hard coded example --}}
        <li>
                <div class="collapsible-header"><i class="material-icons">place</i><span id="1-player">Player
                                2</span>---<span id="1-life">20</span>---<span id="1-poison">0</span></div>
        
                <div class="collapsible-body">
                        <div class="life-collection">
        
                                <a id="{{this.id}}-life-change" class="btn modal-trigger"                         href="#life-changing">Change life</a>

                                <form action="#">
                                        <p class="range-field">
                                                <input type="range" id="{{this.id}}-life-range" min="-20" max="20" />
                                        </p>
                                </form>

                                <a id="{{this.id}}-t-spawn" class="btn modal-trigger" href="#tokens-modal">Tokens +</a>

                        </div>
        
        
                        <p>Set the slider to life gained or lost, and press 'Life Change' to gain or lose that much
                                life.</p>
                        <div class="divider purple"></div>
                        <h5 class="center-align">Token Tray</h5>
                        <div class="container" id="{{this.id}}-tokens-active">
        
                                <div class="carousel">
                                        {{#each this.tokens}}
                                        <div class="carousel-item {{this.name}}"><span
                                                        id="{{this.name}}-{{@index}}">{{this.name}}</span><img
                                                        src="{{this.img}}"></div>
                                        {{/each}}
                                        <div class="carousel-item"><img
                                                        src="https://tokens.mtg.onl/tokens/IMA_004-Djinn-Monk.jpg">
                                        </div>
                                        <div class="carousel-item"><img
                                                        src="https://tokens.mtg.onl/tokens/UST_004-Faerie-Spy.jpg">
                                        </div>
                                        <div class="carousel-item"><img src="https://tokens.mtg.onl/tokens/RIX_004-Golem.jpg">
                                        </div>
                                </div>
        
        
                        </div>
                </div>
                </div>
        </li>
        {{!-- end hard coded example --}}
</ul>


<!-- Tokens -->
<div id="tokens-modal" class="modal">
        <div class="modal-content">
                <h4 class="center-align">Select Token</h4>
        </div>
        <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add Token</a>
        </div>
</div>