<ul class="collapsible">
        {{#each players}}
        <li>
                <div class="collapsible-header"><i class="material-icons">place</i><span
                                id="{{this.id}}-player">{{this.name}}</span> | <span id="{{this.id}}-life"></span> |
                        <span id="{{this.id}}-poison}}"></span></div>

                <div class="collapsible-body"><span>ENTER INTO THE TOKEN TRAY!</span>
                        <div class="life-collection">
                                <span id="{{this.id}}-life-change" class="right"><input type="submit" class="link-color" href="#"
                                                value="Change Life"></span>
                                <form action="#">
                                        <p class="range-field">
                                                <input type="range" id="{{this.id}}-life-range" min="-20" max="20" />
                                        </p>
                                </form>
                                <span id="{{this.id}}-tokens-spawn"><input type="submit" class="tokens-select" href="#tokens-modal"
                                                value="Token +"></a></span>
                        </div>

                        <p>Set the slider to life gained or lost, and press 'Life Change' to gain or lose that much
                        life.</p>
                        <div class="divider purple"></div>
                                                <h5 class="center-align">Token Tray</h5>

                        <div id="{{this.id}}-tokens-active" class="container">
<div class="carousel">
        {{#each this.tokens}}
        <div class="carousel-item {{this.name}}"><span id="{{this.name}}-{{@index}}">{{this.name}}</span><img
                        src="{{this.img}}"></div>
        {{/each}}
</div>
                        </div>

                </div>
        </li>
        {{/each}}
</ul>

<a class="waves-effect waves-light btn modal-trigger" href="#tokens-modal">Modal</a>

<!-- Tokens -->
<div id="tokens-modal" class="modal">
        <div class="modal-content">
                <h4 class="center-align">Select Token</h4>
        </div>
        <div class="modal-footer">
                <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add Token</a>
        </div>
</div>