<ul class="collapsible">
    {{#each players}}
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i><span
                id="{{player_id}}-player">{{name}}</span> |
            <span id="{{player_id}}-life"></span> Life: {{life}}
            <span id="{{player_id}}-poison}}"></span></div>

        <div class="collapsible-body"><span>ENTER INTO THE TOKEN TRAY!</span>
            <div class="life-collection">
                <span id="{{player_id}}-life-change" class="right"><input type="submit" class="link-color" href="#"
                        value="Change Life"></span>
                <form action="#">
                    <p class="range-field">
                        <input type="range" id="{{player_id}}-life-range" min="-20" max="20" />
                    </p>
                </form>
                <a id="{{player_id}}-t-spawn" class="btn modal-trigger" href="#tokens-modal">Tokens +</a>
            </div>

            <p>Set the slider to life gained or lost, and press 'Life Change' to gain or lose that much
                life.</p>
            <div class="divider purple"></div>
            <h5 class="center-align">Token Tray</h5>

            <div id="{{player_id}}-tokens-active" class="container">
                <div class="carousel">
                    {{#each tokens}}
                    <div class="carousel-item {{name}}"><span id="{{name}}-{{@index}}">{{name}}</span><img
                            src="{{img}}"></div>
                    {{/each}}
                </div>
            </div>

        </div>
    </li>
    {{/each}}
</ul>


<!-- Tokens -->
<div id="tokens-modal" class="modal">
    <div class="modal-content">
        <h4 class="center-align">Select Token</h4>
    </div>
    <div class="modal-footer">
        <a href="#!" class="modal-close waves-effect waves-green btn-flat">Add Token</a>
    </div>
</div>