<ul class="collapsible">
    {{#each players}}
    <li>
        <div class="collapsible-header"><i class="material-icons">place</i><span
                id="{{player_id}}-player">{{name}}</span> |
            <span id="{{player_id}}-life">{{life}}</span></div>

        <div class="collapsible-body"><span>ENTER INTO THE TOKEN TRAY!</span>
            <div class="life-collection">
                <button data-player="{{player_id}}" class="right btn link-color life-change">Change
                    Life</button>
                <div class="row"></div>
                <form>
                    <p class="range-field">
                        <input type="range" id="{{player_id}}-life-range" min="-20" max="20" />
                    </p>
                </form>
                <a id="{{player_id}}" class="btn modal-trigger" href="#tokens-modal">Tokens +</a>
            </div>

            <p>Set the slider to life gained or lost, and press 'Life Change' to gain or lose that much
                life.</p>
            <div class="divider purple"></div>
            <h5 class="center-align">Token Tray</h5>

            <div id="{{player_id}}-tokens-active" class="container">
                <div class="carousel">
                    {{#each dbTokens}}
                    <div class="carousel-item {{name}}"><span id="{{name}}-{{@index}}">{{name}}</span><img
                            src="{{img}}">
                    </div>
                    {{/each}}
                </div>
            </div>

        </div>
    </li>
    {{/each}}
</ul>

<!-- Tokens -->
<div id="tokens-modal" class="modal">
    <div class="modal-content">
        <div class="dropdown">
            <!-- click handler needed for text submit, then display results that add the token on img click -->
            <div class="input-field">
                <input placeholder="Token search" id="search-for" type="text" class="validate">
                <a class="btn" id="tokens-search">Search</a>
            </div>

        </div>
    </div>
    <h4 class="center-align">...and select from results below!</h4>
    <div id="searched-tokens">
        <div id="token-chooser">

        </div>
        <div class="modal-footer">
            <button id="token-spawner" data-name="" class="modal-close waves-effect waves-green btn">Add
                Selected</button>
        </div>
    </div>
</div>
</div>

{{!-- Creates a socket listener for current game lobby --}}
<span id="game-id" data-id={{game}}></span>
<script src="/socket.io/socket.io.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>

<script>
    let socket = io();
    socket.on("update", function (game) {
        if (game === $("#game-id").attr("data-id")) {
            window.location = `/arena/${game}`
        }
    });

    $(".life-change").on("click", function () {
        let player_id = $(this).attr("data-player");
        let game_id = $("#game-id").attr("data-id");
        let lifeOriginal = $(`#${player_id}-life`).text();
        let lifeChange = $(`#${player_id}-life-range`).val();
        let life = parseInt(lifeOriginal) + parseInt(lifeChange);
        let lifeKey = `life${player_id}`;
        $.ajax({
            url: "/api/games",
            type: "PUT",
            data: { [lifeKey]: life, game_id: game_id }
        });
    })

    $("#tokens-search").on("click", () => {
        let tokenName = $("#search-for").val();
        $.get(`/api/tokens/${tokenName}`, function (tokens) {
            let unique = []
            tokens.forEach(token => {
                let props = token.name + token.color + token.type + token.pt + token.text
                console.log(props)
                if (unique.indexOf(props) === -1) {
                    unique.push(token)
                }
            })
            let select = $("<select>").attr("id", "selected-token").addClass("browser-default")
            console.log(unique)
            unique.forEach(token => {
                // let p = $("<p>")
                // let label = $("<label>")
                //let input = $("<input>").attr("name", token.name).addClass("with-gap").attr("value", token.id).attr("type", "radio")
                let option = $("<option>").text(`${token.name} - ${token.color} - ${token.type} - ${token.pt} - ${token.text}`).attr("value", token.id)
                // label.append(input, span)
                // p.append(label)
                select.append(option)
            })
            $("#token-chooser").append(select)
        });
    })

    $("#token-spawner").on("click", () => {
        console.log($("#selected-token").val())
    })

</script>